*{
    background-color: white;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
}
header {
    background-color: #ff0000;
    color: #fff;
    text-align: center;
    padding: 1rem;
}
nav {
    display: flex;
    justify-content: center;

}
nav a {
    color: #00ff0d;
    border-bottom: #ff0000;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
}
h1, h2 {
    color: #333;
}
img{
text-align: center;
}
footer{
    color: #ff0000;
}

h2{
    font-size: 90px;
}
footer{
    background-color: #ff0000;
}